@model TesteAgenda02.Models.AgendamentoModel

@{
    ViewData["Title"] = "Home Page";
}

<h1>Inclusão</h1>


@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


    @Html.LabelFor(model => model.Id, htmlAttributes: new { @class = " col-md-2" })
    <div class="col-md-5">
        @Html.EditorFor(model => model.Id, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
    </div>


    @Html.LabelFor(model => model.Titulo, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-5">
        @Html.EditorFor(model => model.Titulo, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Titulo, "", new { @class = "text-danger" })
    </div>

    @Html.LabelFor(model => model.Descricao, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-5">
        @Html.EditorFor(model => model.Descricao, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Descricao, "", new { @class = "text-danger" })
    </div>

    @Html.LabelFor(model => model.Data, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-5">
        @Html.EditorFor(model => model.Data, new { htmlAttributes = new { @class = "form-control" } })

    </div>

    @Html.LabelFor(model => model.HoraInicio, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-5">
        @Html.EditorFor(model => model.HoraInicio, new { htmlAttributes = new { @class = "form-control" } })

    </div>

    @Html.LabelFor(model => model.HoraFim, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-5">
        @Html.EditorFor(model => model.HoraFim, new { htmlAttributes = new { @class = "form-control" } })
    </div>

    List<SelectListItem> listaTipoItem = new List<SelectListItem>();
    listaTipoItem.Add(new SelectListItem { Text = "Alta", Value = "3" });
    listaTipoItem.Add(new SelectListItem { Text = "Média", Value = "2" });
    listaTipoItem.Add(new SelectListItem { Text = "Baixa", Value = "1" });

    @Html.LabelFor(model => model.Prioridade, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-5">
        @Html.DropDownListFor(model => model.Prioridade, listaTipoItem, "Selecione a prioridade", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Prioridade, "", new { @class = "text-danger" })
    </div>

    @Html.LabelFor(model => model.Finalizada, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-5">
        @Html.EditorFor(model => model.Finalizada, new { htmlAttributes = new { @class = "checkbox", @style = "margin-top:5px" } })

    </div>

    <div class="form-group">
        <div class=" col-md-10">

            <input type="submit" value="Gravar" class="btn btn-primary" />
        </div>
    </div>


}





