@model IEnumerable<TesteAgenda02.Models.AgendamentoModel>
@{
    ViewData["Title"] = "Listagem";
}
<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Título
            </th>
            <th>
                Descricao
            </th>
            <th>
                Data
            </th>
            <th>
                Hora Início
            </th>
            <th>
                Hora Fim
            </th>
            <th>
                Prioridade
            </th>
            <th>
                Finalizada
            </th>
            <th>
                Opções
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Data)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HoraInicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HoraFim)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NomePrioridade)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Finalizada)
                </td>



                <td>
                    <a asp-action="Edicao" asp-route-id="@item.Id">Edição</a>
                    @*<a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>

